@media screen and (max-width: 999px) {
    body {
        background-color: #2D2F3B;
    }

    /*    HEADER   */

    #header-area-right {
        display: flex;
        flex-direction:column;
        align-items: center;
        width: 100%;
        max-width: auto;
    }

    #wrapper header {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 190PX;
    }

    #logoarea {
        padding: 0;
        margin-top: 30px;
    }

    #search-form {
        margin-top: 12px;
    }


    /*      MAIN     */

    #wrapper {
        width: 100%;
        margin:0;
    }

    #publicphotos {
        width: 85%;
        margin-left: 60px;
    }
    
    #publicphotos > h1 {
        text-align: center;
    }

    #p-albums-items {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .p-photos-block > a > img {
        width: 100%;
    }
}

@media screen and (max-width: 755px) {
    #menu {
        width: 100%;
    }

    #wrapper header {
        height: 303px;
    }

    #search-form {
        width: 70%;
    }

    #nav-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #nav-menu li,
    #nav-menu li a{
        width: 100%;
        text-align: center;
    }

    #nav-menu li {
        margin-bottom: 3px;
    }

    #publicphotos {
        width: 50%;
        margin: 0 auto;
    }


}